<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/templateAdmin}">
<head>
    <title>Danh sách món ăn</title>
    <style>
        label.error {
            color: red;
            width: 200px;
            position: absolute;
        }

        .dropdown-menu {
            left: 30px !important;
        }

        .datepicker {
            margin-left: 75px;
        }
    </style>
</head>
<body>
<div class="content">
    <header layout:fragment="header" class="mt-3 ml-2 mr-2">
        <script>
            $(document).ready(function () {
                $('body').append('<div style="" id="loadingDiv"><div class="loader"></div></div>');
                $(document).ajaxStart(function () {
                    $('#loadingDiv').show();
                }).ajaxStop(function () {
                    $('#loadingDiv').remove();
                });
                $(document).keypress(
                    function(event){
                        if (event.which == '13') {
                            event.preventDefault();
                        }
                    });
                console.log("show dish table");
                showDishTable();
                console.log("abc");
                $("#customer_ID_search").focus();

            });
        </script>
        <script th:src="@{/js_templates/danhSachKH.js}"></script>
    </header>
    <section class="container-fluid" layout:fragment="content_body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header header-elements-inline" style="padding-bottom: 0;">
                        <div class="breadcrumb-elements-item dropdown p-0">
                            <label class="breadcrumb-elements-item" aria-expanded="false">
                                <i class="icon-arrow-right8 mr-2"></i>Tổng số món ăn
                            </label>
                            <label class="breadcrumb-elements-item ml-1" aria-expanded="false" id="soMonAn"></label>
                            <button class="breadcrumb-elements-item dropdown p-0 ml-4" data-toggle="tooltip"
                                    onclick="showDishTable()"
                                    title="Xem danh sách khách hàng">
                                <i class="icon-accessibility mr-1"></i><span class="mr-1">Xem danh sách</span>
                            </button>
                            <button onclick="showAddFormDish()" class="breadcrumb-elements-item dropdown p-0 ml-1"
                                    data-toggle="tooltip" title="Thêm khách hàng">
                                <i class="icon-plus-circle2"></i><span class="ml-1 mr-1">Thêm Món Ăn</span>
                            </button>
                        </div>
                        <form id="form_search_dish">
                            <div class="d-flex align-items-end flex-nowrap flex-xl-nowrap"
                                 style="margin-left: auto; margin-right: 60px">
                                <label class="mr-2 mb-0" for="dish_name_search">Tìm:</label>
                                <div style="position: relative">
                                    <input type="text" class="form-control text-dark flex-1 wmin-xl-100 border-bottom-1"
                                           placeholder="Tên món ăn"
                                           style="text-align: center"
                                           id="dish_name_search" name="dish_name_search">
                                    <label class="error"></label>
                                </div>
                                <button data-toggle="tooltip" title="Tìm" class="btn btn-info center-block ml-1"
                                        style="padding: 4px 4px 0 3px; border-radius: 10px"><i
                                        class="icon-search4 mb-1"></i></button>
                            </div>
                            <div style="width: 75%; height: 27px">
                                <span>
                                    Tìm theo loại:
                                </span>
                                <select  id="selectSearch"
                                        class="selectSearch filterInput mt-2 ml-1" name="selectSearch"
                                        onchange="searchByType()">
                                    <option value="Tất cả">Tất cả</option>
                                    <option value="Đồ xào">Đồ xào</option>
                                    <option value="Đồ chiên">Đồ chiên</option>
                                    <option value="Đồ tráng miệng">Đồ tráng miệng</option>
                                    <option value="Đồ uống">Đồ uống</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="dropdown-divider" style="border: 1px solid #ced3cf"></div>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <div class="datatable-scroll-wrap"
                             style="overflow-y:scroll; max-height: 500px; text-align: center;">
                            <table class="table datatable-responsive dataTable no-footer dtr-inline"
                                   id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <div class="overlay_bang_mon_an"></div>
                                <thead>
                                <tr role="row">
                                    <th>STT</th>
                                    <th>Ảnh</th>
                                    <th>Tên</th>
                                    <th>Giá</th>
                                    <th>Loại</th>
                                    <th>Đơn vị</th>
                                    <th>Chi tiết</th>
                                    <th>Tác vụ</th>
                                </tr>
                                </thead>
                                <tbody id="bang_mon_an">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <nav class="nav__add-dish">
                        <ul class="nav__edit-list" style="padding-top: 16px">
                            <li class="nav__edit-input">
                                <i class="icon-users">
                                    <span class="ml-3 mt-2"
                                          style="font-size: 22px; color: #0f74a8;"
                                          id="title_addUser">Thêm món ăn</span></i>
                                <i class="icon-close2" style="color: red; margin-top: 1px; margin-left: 260px;"
                                   data-toggle="tooltip" title="Đóng" onclick="closeEditForm()"></i>
                            </li>
                            <hr>
                            <form id="add_form" method="POST" enctype="multipart/form-data">

                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Tên: <input id="nameDish_add" name="nameDish_add"
                                                style="border: 1px #ececec solid; margin-left: 14px; margin-right: 30px"
                                                size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Ảnh <input id="fileImage_add" name="fileImage_add" type="file" accept="image/png,image/jpg"
                                                style="border: 1px #ececec solid; margin-left: 14px; margin-right: 30px" onchange="showImage(this)"
                                                size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    <img id="thumbnail_add" alt="ảnh preview" style="height: 100px;width: 100px;display: none">
                                </li>

                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Giá <input id="price_add" name="price_add" type="number"
                                               style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                               size="40">
                                    <label class="error"></label>
                                </li>

                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Loại
                                    <select id="type_add">
                                        <option value="1">Đồ xào</option>
                                        <option value="2">Đồ chiên</option>
                                        <option value="3">Đồ uống</option>
                                        <option value="4">Đồ tráng miệng</option>
                                    </select>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Đơn vị <select id="unit_add">
                                    <option value="1">Đĩa</option>
                                    <option value="2">Bát</option>
                                    <option value="3">Cốc</option>
                                    <option value="4">Chai</option>
                                </select>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Chi tiết<input id="devices_add" name="devices_add"
                                                   style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                                   size="38"
                                >
                                    <label class="error"></label>
                                </li>
                                <hr>
                                <a href="#" data-toggle="tooltip" title="Edit">
                                    <button class="btn btn-info center-block mb-1" id="btn-add-user"
                                            style="padding: 5px 5px 5px 5px; border-radius: 20px; margin-left: 140px;">
                                        Thêm mới
                                    </button>
                                </a>
                            </form>
                        </ul>
                    </nav>

                    <nav class="nav__edit-dish">
                        <ul class="nav__edit-list" style="padding-top: 16px">
                            <li class="nav__edit-input">
                                <i class="icon-users">
                                        <span class="ml-2 mt-2" style="font-size: 22px; color: #0f74a8"
                                              id="title_editUser">Cập nhật thông tin món ăn</span></i>
                                <i class="icon-close2" style="color: red; margin-top: 1px; margin-left: 170px;"
                                   data-toggle="tooltip" title="Đóng" onclick="closeEditForm()"></i>
                            </li>
                            <hr>
                            <form id="edit_form">
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    <label>Mã:</label>
                                    <input name="idDish_edit" id="idDish_edit"
                                           style="border: 1px #ececec solid; margin-left: 16px;" size="40" readonly disabled>
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Tên: <input id="nameDish_edit" name="nameDish_edit"
                                                style="border: 1px #ececec solid; margin-left: 14px; margin-right: 30px"
                                                size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Giá <input id="price_edit" name="price_edit" type="number"
                                               style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                               size="40">
                                    <label class="error"></label>
                                </li>

                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Loại
                                    <select id="type_edit">
                                        <option value="Đồ xào">Đồ xào</option>
                                        <option value="Đồ chiên">Đồ chiên</option>
                                        <option value="Đồ uống">Đồ uống</option>
                                        <option value="Đồ tráng miệng">Đồ tráng miệng</option>
                                    </select>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Đơn vị <select id="unit_edit">
                                    <option value="Đĩa">Đĩa</option>
                                    <option value="Bát">Bát</option>
                                    <option value="Cốc">Cốc</option>
                                    <option value="Chai">Chai</option>
                                </select>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Chi tiết<input id="devices_edits" name="devices_add"
                                                   style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                                   size="38"
                                >
                                    <label class="error"></label>
                                </li>
                                <li>
                                    <hr>
                                    <a href="#" data-toggle="tooltip" title="Edit">
                                        <button class="btn btn-info center-block mb-1"
                                                id="btn-edit-user"
                                                style="padding: 5px 5px 5px 5px; border-radius: 20px; margin-left: 140px">
                                            Cập nhật
                                        </button>
                                    </a>
                                </li>
                            </form>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <span id="idDish_delete" style="display: none"></span>
    </section>
</div>
</body>
</html>
