<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/templateAdmin}">
<head>
    <title>Danh sách nhân viên</title>
    <style>
        label.error {
            color: red;
            width: 200px;
            position: absolute;
        }

        .dropdown-menu {
            left: 30px !important;
        }

        .datepicker {
            margin-left: 75px;
        }
    </style>
</head>
<body>
<div class="content">
    <header layout:fragment="header" class="mt-3 ml-2 mr-2">
        <script>
            $(document).ready(function () {
                ready();
                $('body').append('<div style="" id="loadingDiv"><div class="loader"></div></div>');
                $(document).ajaxStart(function () {
                    $('#loadingDiv').show();
                }).ajaxStop(function () {
                    $('#loadingDiv').remove();
                });
                $(document).keypress(
                    function(event){
                        if (event.which == '13') {
                            event.preventDefault();
                        }
                    });
                $("#submitButton").click(function (event) {
                    // Stop default form Submit.
                    event.preventDefault();
                    // Call Ajax Submit.
                    ajaxSubmitForm();

                });
                $("#submitButtonEdit").click(function (event) {
                    // Stop default form Submit.
                    event.preventDefault();
                    // Call Ajax Submit.
                    ajaxSubmitEditForm();

                });
                console.log("show staff table");
                showStaffTable();
                console.log("abc");
                $("#customer_ID_search").focus();

            });
        </script>
        <script th:src="@{/js_templates/danhsachNhanVien.js}"></script>
    </header>
    <section class="container-fluid" layout:fragment="content_body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header header-elements-inline" style="padding-bottom: 0;">
                        <div class="breadcrumb-elements-item dropdown p-0">
                            <label class="breadcrumb-elements-item" aria-expanded="false">
                                <i class="icon-arrow-right8 mr-2"></i>Tổng số nhân viên
                            </label>
                            <label class="breadcrumb-elements-item ml-1" aria-expanded="false" id="soNhanVien"></label>
                            <button class="breadcrumb-elements-item dropdown p-0 ml-4" data-toggle="tooltip"
                                    onclick="showStaffTable()"
                                    title="Xem danh sách khách hàng">
                                <i class="icon-accessibility mr-1"></i><span class="mr-1">Xem danh sách</span>
                            </button>
                            <button onclick="showAddFormStaff()" class="breadcrumb-elements-item dropdown p-0 ml-1"
                                    data-toggle="tooltip" title="Thêm khách hàng">
                                <i class="icon-plus-circle2"></i><span class="ml-1 mr-1">Thêm nhân viên</span>
                            </button>
                        </div>
                        <form id="form_search_staff">
                            <div class="d-flex align-items-end flex-nowrap flex-xl-nowrap"
                                 style="margin-left: auto; margin-right: 60px">
                                <label class="mr-2 mb-0" for="staff_name_search">Tìm:</label>
                                <div style="position: relative">
                                    <input type="text" class="form-control text-dark flex-1 wmin-xl-100 border-bottom-1"
                                           placeholder="Tên nhân viên"
                                           style="text-align: center"
                                           id="staff_name_search" name="staff_name_search">
                                    <label class="error"></label>
                                </div>
                                <button data-toggle="tooltip" title="Tìm" class="btn btn-info center-block ml-1"
                                        style="padding: 4px 4px 0 3px; border-radius: 10px"><i
                                        class="icon-search4 mb-1"></i></button>
                            </div>
                            <div style="width: 75%; height: 27px">
                                <span>
                                    Tìm theo loại:
                                </span>
                                <select  id="selectSearch"
                                         class="selectSearch filterInput mt-2 ml-1" name="selectSearch"
                                         onchange="searchByRole()">
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="dropdown-divider" style="border: 1px solid #ced3cf"></div>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <div class="datatable-scroll-wrap"
                             style="overflow-y:scroll; max-height: 500px; text-align: center;">
                            <table class="table datatable-responsive dataTable no-footer dtr-inline"
                                   id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <div class="overlay_bang_mon_an"></div>
                                <thead>
                                <tr role="row">
                                    <th>STT</th>
                                    <th>Ảnh</th>
                                    <th>Tên</th>
                                    <th>Số điện thoại</th>
                                    <th>CMND</th>
                                    <th>Email</th>
                                    <th>Địa chỉ</th>
                                    <th>Chức vụ</th>
                                    <th>Tài khoản</th>
                                </tr>
                                </thead>
                                <tbody id="bang_nhan_vien">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <nav class="nav__add-staff">
                        <ul class="nav__edit-list" style="padding-top: 16px">
                            <li class="nav__edit-input">
                                <i class="icon-users">
                                    <span class="ml-3 mt-2"
                                          style="font-size: 22px; color: #0f74a8;"
                                          id="title_addUser">Thêm nhân viên</span></i>
                                <i class="icon-close2" style="color: red; margin-top: 1px; margin-left: 260px;"
                                   data-toggle="tooltip" title="Đóng" onclick="closeEditForm()"></i>
                            </li>
                            <hr>
                            <form id="add_form" method="POST" enctype="multipart/form-data">

                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Tên: <input id="nameStaff_add" name="nameStaff_add"
                                                style="border: 1px #ececec solid; margin-left: 14px; margin-right: 30px"
                                                size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Ảnh <input id="fileImage_add" name="fileImage_add" type="file" accept="image/png,image/jpg"
                                               style="border: 1px #ececec solid; margin-left: 14px; margin-right: 30px" onchange="showImage(this)"
                                               size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    <img id="thumbnail_add" alt="ảnh preview" style="height: 100px;width: 100px;display: none">
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Số điện thoại <input id="phoneNumber_add" name="phoneNumber_add" type="number"
                                               style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                               size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    CMND <input id="cmnd_add" name="cmnd_add" type="number"
                                               style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                               size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Email <input id="email_add" name="email_add"
                                                style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                                size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Địa chỉ <input id="address_add" name="address_add"
                                                 style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                                 size="40">
                                    <label class="error"></label>
                                </li>

                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Chức vụ <select id="role_add" name="role_add">

                                </select>

                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Tài khoản <input id="username_add" name="username_add"
                                                 style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                                 size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Mật khẩu <input id="password_add" name="password_add"
                                                     style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                                     size="40">
                                    <label class="error"></label>
                                </li>

                                <hr>
                                <a href="#" data-toggle="tooltip" title="Edit">
                                    <a href="#" data-toggle="tooltip" title="Edit">
                                        <button type="submit" class="btn btn-success" id="submitButton">Lưu</button>
                                    </a>
                                </a>
                            </form>
                        </ul>
                    </nav>

                    <nav class="nav__edit-staff">
                        <ul class="nav__edit-list" style="padding-top: 16px">
                            <li class="nav__edit-input">
                                <i class="icon-users">
                                        <span class="ml-2 mt-2" style="font-size: 22px; color: #0f74a8"
                                              id="title_editUser">Cập nhật thông tin nhân viên</span></i>
                                <i class="icon-close2" style="color: red; margin-top: 1px; margin-left: 170px;"
                                   data-toggle="tooltip" title="Đóng" onclick="closeEditForm()"></i>
                            </li>
                            <hr>
                            <form id="edit_form" method="POST" enctype="multipart/form-data">
                                <li class="nav__edit-input" style=" padding-bottom: 5px;display: none">
                                    id: <input id="idStaff_edit" name="nameStaff_edit"
                                                style="border: 1px #ececec solid; margin-left: 14px; margin-right: 30px;"
                                                size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Tên: <input id="nameStaff_edit" name="nameStaff_edit"
                                                style="border: 1px #ececec solid; margin-left: 14px; margin-right: 30px"
                                                size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Ảnh <input id="fileImage_edit" name="fileImage_edit" type="file" accept="image/png,image/jpg"
                                               style="border: 1px #ececec solid; margin-left: 14px; margin-right: 30px" onchange="showImageEdit(this)"
                                               size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    <img id="thumbnail_edit" alt="ảnh preview" style="height: 100px;width: 100px">
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Số điện thoại <input id="phoneNumber_edit" name="phoneNumber_edit" type="number"
                                                         style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                                         size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    CMND <input id="cmnd_edit" name="cmnd_edit" type="number"
                                                style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                                size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Email <input id="email_edit" name="email_edit"
                                                 style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                                 size="40">
                                    <label class="error"></label>
                                </li>
                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Địa chỉ <input id="address_edit" name="address_edit"
                                                   style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                                   size="40">
                                    <label class="error"></label>
                                </li>

                                <li class="nav__edit-input" style="padding-bottom: 5px">
                                    Chức vụ <select id="role_edit" name="role_edit">
                                </select>

                                <li class="nav__edit-input" style=" padding-bottom: 5px">
                                    Tài khoản <input id="username_edit" name="username_edit"
                                                     style="border: 1px #ececec solid; margin-left: 1px; margin-right: 30px"
                                                     size="40">
                                    <label class="error"></label>
                                </li>
                                <li>
                                    <hr>
                                    <a href="#" data-toggle="tooltip" title="Edit">
                                        <button type="submit" class="btn btn-success" id="submitButtonEdit">Cập nhật</button>
                                    </a>
                                </li>
                            </form>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <span id="idStaff_delete" style="display: none"></span>
    </section>
</div>
</body>
</html>
