<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Template</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link th:href="@{/global_assets/css/icons/icomoon/styles.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/bootstrap_limitless.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/layout.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/components.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/colors.min.css}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script th:src="@{/global_assets/js/main/jquery.min.js}"></script>
    <script th:src="@{/global_assets/js/main/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/loaders/blockui.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/ui/ripple.min.js}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script th:src="@{/global_assets/js/plugins/visualization/d3/d3.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/visualization/d3/d3_tooltip.js}"></script>
    <script th:src="@{/global_assets/js/plugins/forms/styling/switchery.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/ui/moment/moment.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/pickers/daterangepicker.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
    <script th:src="@{/global_assets/js/demo_pages/dashboard.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/streamgraph.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/sparklines.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/lines.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/areas.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/donuts.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/bars.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/progress.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/heatmaps.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/pies.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/bullets.js}"></script>
    <script th:src="@{/ckeditor/ckeditor.js}"></script>
    <!-- /theme JS files -->

    <link th:href="@{/css_customize/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css_customize/animations.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css">
    <script type="text/javascript"
            src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css">

</head>
<body class="sidebar-xs" data-gr-c-s-loaded="true">
<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-light navbar-static">
    <!-- Header with logos -->
    <div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
        <div class="navbar-brand navbar-brand-md">
            <a th:href="@{/trang-chu}">
                <img th:src="@{/global_assets/images/logo_new1.png}" alt="" class="ml-5">
            </a>
        </div>

        <div class="navbar-brand navbar-brand-xs">
            <a th:href="@{/trang-chu}" class="d-inline-block">
                <img th:src="@{/global_assets/images/logoNew.png}" alt="">
            </a>
        </div>
    </div>
    <!-- /header with logos -->
    <!-- Mobile controls -->
    <div class="d-flex flex-1 d-md-none">
        <div class="navbar-brand mr-auto">
            <a th:href="@{/trang-chu}" class="d-inline-block">
                <img th:src="@{/global_assets/images/logo_dark.png}" alt="">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>

        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>
    <!-- /mobile controls -->
    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item" style="display: flex">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- /navbar content -->
</div>
<!-- /main navbar -->
<!-- Page content -->
<div class="page-content">

    <!-- Main sidebar -->
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

        <!-- Sidebar mobile toggler -->
        <div class="sidebar-mobile-toggler text-center">
            <a href="#" class="sidebar-mobile-main-toggle">
                <i class="icon-arrow-left8"></i>
            </a>
            Navigation
            <a href="#" class="sidebar-mobile-expand">
                <i class="icon-screen-full"></i>
                <i class="icon-screen-normal"></i>
            </a>
        </div>
        <!-- /sidebar mobile toggler -->
        <!-- Sidebar content -->
        <div class="sidebar-content">

            <!-- Main navigation -->
            <div class="card card-sidebar-mobile">
                <ul class="nav nav-sidebar" data-nav-type="accordion">

                    <!-- Main -->
                    <li class="nav-item-header">
                        <div class="text-uppercase font-size-xs line-height-xs">MAIN NAVIGATION</div>
                        <i class="icon-menu" title="Main"></i></li>
                    <li class="nav-item">
                        <a th:href="@{/trang-chu}" data-toggle="tooltip" title="Danh sách khách hàng"
                           class="nav-link"><i class="icon-color-sampler"></i> <span>Danh sách khách hàng</span></a>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link legitRipple"><i class="icon-list"></i>
                            <span>Cấu hình</span></a>
                        <ul class="nav nav-group-sub">
                            <li class="nav-item"><a th:href="@{/cau-hinh-don-gia}" class="nav-link legitRipple">Đơn
                                giá</a></li>
                            <li class="nav-item"><a th:href="@{/cap-nhat-so-dien}" class="nav-link legitRipple">Cập nhật
                                số điện</a></li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link legitRipple"><i class="icon-stack"></i>
                            <span>Quản lý hóa đơn</span></a>
                        <ul class="nav nav-group-sub">
                            <li class="nav-item"><a th:href="@{/danh-sach-hoa-don}" class="nav-link legitRipple">Xem hóa
                                đơn</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/logout}" class="nav-link" data-toggle="tooltip" title="Đăng xuất"><i
                                class="icon-switch2" style="color: darkred"></i> <span
                                style="color: darkred">Đăng xuất</span></a>
                    </li>
                    <!-- /main -->
                </ul>
            </div>
            <!-- /main navigation -->
        </div>
        <!-- /sidebar content -->
    </div>
    <!-- /main sidebar -->
    <!-- Main content -->
    <div class="content-wrapper">
        <!-- Page header -->
        <header layout:fragment="header">
        </header>
        <!-- /page header -->
        <!-- Content area -->
        <section class="container-fluid" layout:fragment="content_body">
        </section>
        <!-- /content area -->
    </div>
    <!-- /main content -->
</div>
<!-- /page content -->

</body>
</html>
