.modal-header {
    padding-bottom: 5px;
}

.modal-footer .btn-group button {
    height: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}

.modal-title {
    margin-bottom: 0;
    margin-right: 177px;
    line-height: 1.5385;
}

.modal-header .close {
    padding: 1.25rem 1.25rem;
    margin: -2.25rem -26.25rem -1.25rem auto;
}

.modal-header .close {
    color: red;
}


.overlay_bang_mon_an {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
    animation: fadeIn linear 0.5s;
}
.nav__add-dish{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:600px;
    max-width: 100%;
    background-color: white;
    z-index: 100;
    /*transform: translateX(100%);*/
    display: none;
}
.nav__add-table{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:600px;
    max-width: 100%;
    background-color: white;
    z-index: 100;
    /*transform: translateX(100%);*/
    display: none;
}
.nav__add-staff{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:600px;
    max-width: 100%;
    background-color: white;
    z-index: 100;
    /*transform: translateX(100%);*/
    display: none;
}
.nav__add-booking{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:600px;
    max-width: 100%;
    background-color: white;
    z-index: 100;
    /*transform: translateX(100%);*/
    display: none;
}
.nav__add-customer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:600px;
    max-width: 100%;
    background-color: white;
    z-index: 100;
    /*transform: translateX(100%);*/
    display: none;
}
.nav__add-material{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:600px;
    max-width: 100%;
    background-color: white;
    z-index: 100;
    /*transform: translateX(100%);*/
    display: none;
}
.nav__input-material{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:700px;
    max-width: 100%;
    background-color: white;
    z-index: 100;
    /*transform: translateX(100%);*/
    display: none;
}
.nav__output-material{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:600px;
    max-width: 100%;
    background-color: white;
    z-index: 100;
    /*transform: translateX(100%);*/
    display: none;
}
.nav__edit-dish{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:600px;
    max-width: 100%;
    background-color: white;
    z-index: 100;
    /*transform: translateX(100%);*/
    display: none;
}
.nav__edit-staff{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:600px;
    max-width: 100%;
    background-color: white;
    z-index: 100;
    /*transform: translateX(100%);*/
    display: none;
}
.nav__edit-material{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:600px;
    max-width: 100%;
    background-color: white;
    z-index: 100;
    /*transform: translateX(100%);*/
    display: none;
}
.nav__edit-table{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:600px;
    max-width: 100%;
    background-color: white;
    z-index: 100;
    /*transform: translateX(100%);*/
    display: none;
}

.nav__edit-list{
    margin-top: 24px;
}

.nav__edit-input{
    text-decoration: none;
    color:#333;
    display: block;
}


@keyframes fadeIn {
    from{
        opacity: 0;
    }to{opacity: 1}
}

/*animation send mail success*/
